<body class="bg-cover"> 
    <div class="add-body">
        <section id="add" class="container col-lg-8 col-lg-offset-2">
            <div class="white-body">
                <div class="form-wrap">
                    <div class="row">
                        <div class="col-lg-12 top-gig">
                            <h1 style="color: white">Add A Gig</h1>
                            <p style="color: white">Your contact email will be shared with registered users to apply to
                                your gig</p>
                        </div>
                    </div>
                    {{#each errors}}
                    <div class="error">
                        <p>{{text}}</p>
                    </div>
                    {{/each}}
                    <form action="/api/examples" method="POST">
                        <form>
                            <div class="form-group">
                                <label for="title" class="title-form">Gig Title: </label>
                                <input type="text" name="title" id="title" class="form-control input-back" maxlength="100"
                                    value={{title}}>
                            </div>
                            <div class="form-group">
                                <label for="eventDate" class="title-form">Event Date: </label>
                                <input type="text" name="eventDate" id="eventDate" class="form-control input-back"
                                    value={{eventDate}}>
                            </div>
                            <div class="form-group">
                                <label for="eventtime" class="title-form">Event Time: </label>
                                <input type="test" name="eventTime" id="eventTime" class="form-control input-back"
                                    value={{eventTime}}>
                            </div>
                            <div class="form-group">
                                <label for="technologies" class="title-form">Gear Needed: </label>
                                <input type="text" name="technologies" id="technologies" class="form-control input-back"
                                    maxlength="100" value={{technologies}}>
                            </div>
                            <div class="form-group">
                                <label for="budget" class="title-form">Budget (Leave blank for unknown): </label>
                                <input type="text" name="budget" id="budget" class="form-control input-back" value={{budget}}>
                            </div>
                            <div class="form-group">
                                <label for="description" class="title-form">Gig Description: </label>
                                <textarea name="description" id="description" class="form-control input-back" rows="10">{{description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="vendor" class="title-form">Vendor: </label>
                                <input type="text" name="vendor" id="vendor" class="form-control input-back" value={{vendor}}>
                            </div>
                            <div class="form-group">
                                <label for="vendoremail" class="title-form">Vendor email: </label>
                                <input tyoe="text" name="vendoremail" id="vendoremail" class="form-control input-back"
                                    value={{vendoremail}}>
                            </div>
                            <div class="form-group">
                                <label for="email" class="title-form">Contact Email: </label>
                                <input type="email" name="contact_email" id="contactemail" class="form-control input-back"
                                    value={{contact_email}}>
                            </div>
                            <div class="form-group">
                                <label for="venue" class="title-form">Gig Venue: </label>
                                <input type="text" name="venue" id="venue" class="form-control input-back" rows="10"
                                    value={{venue}}>
                            </div>
                            <div class="form-group">
                                <label for="venueaddress" class="title-form">Gig Address: </label>
                                <input type="text" name="venueaddress" id="venueaddress" class="form-control input-back"
                                    rows="10" value={{venueaddress}}>
                            </div>


                            <input type="submit" value="Add Gig" class="btn btn-primary add-btn btn-reverse">
                        </form>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>