<body class="bg-cover">
    <nav class="navbar navbar-dark navbar-expand-lg navbar-light sticky-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-auto  mt-lg-0 ">
                <li class="nav-item active">
                    <!-- <a class="nav-link" href="#Events">Upcoming Events
                        <span class="sr-only">(current)</span>
                    </a> -->
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upcoming">Upcoming Events</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar">Calendar Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vendors">Vendors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">ADD EVENT</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="add">
        <div class="container-fluid m-5 center">
            <div class="col">
                <div class="row">
                    <h1>Add A Gig</h1>
                </div>
                <div class="row">
                    <p>Your contact email will be shared with registered users to apply to your gig</p>
                    {{#each errors}}
                    <div class="error">
                        <p>{{text}}</p>
                    </div>
                    {{/each}}
                </div>
                <div class="row">
                    <form action="/api/examples" method="POST">
                        <div class="input-group">
                            <label for="title">Gig Title: </label>
                            <input type="text" name="title" id="title" class="input-box" placeholder="eg. Wild Goose, Mojo, Endless Dreams, Icon"
                                maxlength="100" value={{title}}>
                        </div>
                        <div class="input-group">
                            <label for="eventdate">Event Date: </label>
                            <input type="text" name="eventdate" id="eventdate" class="input-box" placeholder="Event Date"
                                value={{eventDate}}>
                        </div>
                        <div class="input-group">
                            <label for="eventdate">Event Date: </label>
                            <input type="test" name="eventtime" id="eventtime" class="input-box" placeholder="Event Date"
                                value={{eventTime}}>
                        </div>
                        <div class="input-group">
                            <label for="technologies">Gear Needed: </label>
                            <input type="text" name="technologies" id="technologies" class="input-box" placeholder="eg. DJ, Live Band, Casino"
                                maxlength="100" value={{technologies}}>
                        </div>
                        <div class="input-group">
                            <label for="budget">Budget (Leave blank for unknown): </label>
                            <input type="text" name="budget" id="budget" class="input-box" placeholder="eg. 500, 5000, 10000"
                                value={{budget}}>
                        </div>
                        <div class="input-group">
                            <label for="description">Gig Description: </label>
                            <textarea name="description" id="description" class="input-box" placeholder="Describe the details of the gig"
                                rows="10">{{description}}</textarea>
                        </div>
                        <div class="input-group">
                            <label for="vendor">Vendor: </label>
                            <input type="text" name="vendor" id="vendor" class="input-box" placeholder="vendor name"
                                value={{vendor}}>
                        </div>
                        <div class="input-group">
                            <label for="vendoremail">Vendor email: </label>
                            <input tyoe="text" name="vendoremail" id="vendoremail" class="imput-box" placeholder="vendor email"
                                value={{vendoremail}}>
                        </div>
                        <div class="input-group">
                            <label for="email">Contact Email: </label>
                            <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter a client email"
                                value={{contact_email}}>
                        </div>
                        <div class="input-group">
                            <label for="venue">Gig Venue: </label>
                            <input type="text" name="venue" id="venue" class="input-box" placeholder="Where is the gig"
                                rows="10" value={{venue}}>
                        </div>
                        <div class="input-group">
                            <label for="venueaddress">Gig Address: </label>
                            <input type="text" name="venueaddress" id="venueaddress" class="input-box" placeholder="Where is the gig"
                                rows="10" value={{venueaddress}}>
                        </div>


                        <input type="submit" value="Add Gig" class="btn btn-reverse">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>