<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add A Gig</h1>
        <p>Your contact email will be shared with registered users to apply to your gig</p>
        {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{/each}}
        <form action="/api/examples" method="POST">
            <div class="input-group">
                <label for="title">Gig Title</label>
                <input type="text" name="title" id="title" class="input-box"
                    placeholder="eg. Wild Goose, Mojo, Endless Dreams, Icon" maxlength="100" value={{title}}>
            </div>
            <div class="input-group">
                <label for="eventdate">Event Date</label>
                <input type="date" name="eventdate" id="eventdate" class="input-box"
                placeholder="Event Date"
                value={{eventDate}}>
            </div>
            <div class="input-group">
                <label for="eventdate">Event Date</label>
                <input type="time" name="eventtime" id="eventtime" class="input-box"
                placeholder="Event Date"
                value={{eventTime}}>
            </div>
            <div class="input-group">
                <label for="technologies">Gear Needed</label>
                <input type="text" name="technologies" id="technologies" class="input-box"
                    placeholder="eg. DJ, Live Band, Casino" maxlength="100" value={{technologies}}>
            </div>
            <div class="input-group">
                <label for="budget">Budget (Leave blank for unknown)</label>
                <input type="text" name="budget" id="budget" class="input-box" placeholder="eg. 500, 5000, 10000"
                    value={{budget}}>
            </div>
            <div class="input-group">
                <label for="description">Gig Description</label>
                <textarea name="description" id="description" class="input-box"
                    placeholder="Describe the details of the gig" rows="10">{{description}}</textarea>
            </div>
            <div class="input-group">
                <label for="vendor">vendor</label>
                <input type="text" name="vendor" id="vendor" class="input-box"
                placeholder="vendor name"
                value={{vendor}}>
            </div>
            <div class="input-group">
                <label for="vendoremail">vendor email</label>
                <input tyoe="text" name="vendoremail" id="vendoremail" class="imput-box"
                placeholder="vendor email"
                value={{vendoremail}}>
            </div>
            <div class="input-group">
                <label for="email">Contact Email</label>
                <input type="email" name="contact_email" id="contactemail" class="input-box"
                    placeholder="Enter a client email" value={{contact_email}}>
            </div>
            <div class="input-group">
                <label for="venue">Gig Venue</label>
                <input type="text" name="venue" id="venue" class="input-box" placeholder="Where is the gig" rows="10"
                    value={{venue}}>
            </div>
            <div class="input-group">
                <label for="venueaddress">Gig Address</label>
                <input type="text" name="venueaddress" id="venueaddress" class="input-box"
                    placeholder="Where is the gig" rows="10" value={{venueaddress}}>
            </div>


            <input type="submit" value="Add Gig" class="btn btn-reverse">
        </form>
    </div>
</section>