<body class="bg-cover">
  <div class="add-body">
    <section id="add" class="container col-lg-8 col-lg-offset-2">
      <div class="white-body">
        <div class="form-wrap">
          <div class="row">
            <div class="col-lg-12 top-gig">
              <h1 style="color: white">EVENTS</h1>
            </div>
          </div>
          <ul id="example-list" class="list-group">
            {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
              <div class="col-md-12">Event Name: <a href="example/{{this.id}}">{{this.title}}</a></div>
              <div class="col-md-12">Event Date: {{this.eventDate}}</div>
              <div class="col-md-12">Event Time: {{this.eventTime}}</div>
              <div class="col-md-12">Contact Email: {{this.contact_email}}</div>
              <div class="col-md-12">Event Description: {{this.description}}</div>
              <div class="col-md-12">Event Venue: {{this.venue}}</div>
              <div class="col-md-12">Event Location: {{this.venueaddress}}</div>
              <div class="col-md-12">Tech needed: {{this.technologies}}</div>
              <div class="col-md-12">Vendor: {{this.vendor}}</div>
              <div class="col-md-12">Vendor Email: {{this.vendoremail}}</div>
              <button class="btn btn-primary add-btn delete"> DELETE </button>
            </li>
            {{/each}}
          </ul>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>
      </div>
    </section>
  </div>
</body>