<body class="bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card mt-4">
          <div class="card-body m-5 eventPage">
            <h5 class="card-title text-uppercase">{{example.title}}</h5>
            <p>
              <strong>ID</strong>: {{example.id}}</p>
            <p>
              <strong>Vendor Name</strong>: {{example.vendor}}
            </p>
            <p>
              <strong>Vendor Email</strong>: {{example.vendoremail}}
            </p>
            <p>
              <strong>Event Date &amp; Time:</strong> {{example.eventDate}}
            </p>
            <p>
              <strong>Venue Address:</strong> {{example.venueaddress}}
            </p>
            <p>
              <strong>Gear needed:</strong> {{example.technologies}}
            </p>
            <p>
              <strong>Budget:</strong> ${{example.budget}}
            </p>
            <a href="/dashboard"><button class="btn btn-primary add-btn">Dashboard</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>