<body class="bg-cover">
  <nav class="navbar navbar-dark navbar-expand-lg navbar-light sticky-top ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mx-auto  mt-lg-0 ">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#Events">Upcoming Events
                        <span class="sr-only">(current)</span>
                    </a> -->
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upcoming">Upcoming Events</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calendar">Calendar Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vendors">Vendors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">ADD EVENT</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card mt-4">
          <div class="card-body m-5 eventPage">
            <h5 class="card-title text-uppercase">{{example.title}}</h5>
            <p>
              <strong>ID</strong>: {{example.id}}</p>
            <p>
              <strong>Vendor Name</strong>: {{example.vendor}}
            </p>
            <p>
              <strong>Vendor Email</strong>: {{example.vendoremail}}
            </p>
            <p>
              <strong>Event Date &amp; Time:</strong> {{example.eventDate}}
            </p>
            <p>
              <strong>Venue Address:</strong> {{example.venueaddress}}
            </p>
            <p>
              <strong>Gear needed:</strong> {{example.technologies}}
            </p>
            <p>
              <strong>Budget:</strong> ${{example.budget}}
            </p>
            <a href="/dashboard">← Back To Dasboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>